.switch {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .switch label {
    margin-right: 10px;
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .input-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border: 2px solid lightgrey;
    border-radius: 34px;
    pointer-events: none;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .input-toggle:checked + .slider {
    background-color: #7477BF;
  }
  
  .input-toggle:focus + .slider {
    box-shadow: 0 0 1px #7477BF;
  }
  
  .input-toggle:checked + .slider:before {
    transform: translateX(22px);
  }
  