  
  .switch label {
    margin-right: 10px;
  }
  
  .toggle {
    position: relative;
    width: 75px;
    height: 34px;
  }
  
  .input-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .slider {
    display: flex;                
    justify-content: flex-start;      
    align-items: center;      
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    color: white;
    transition: .4s;
    border: 2px solid lightgrey;
    border-radius: 34px;
    pointer-events: none;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 14px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
/* 
  .sliderround {


  } */
  
  .input-toggle:checked + .slider {
    background-color: #7477BF;
  }
  
  .input-toggle:focus + .slider {
    box-shadow: 0 0 1px #7477BF;
  }
  
  .input-toggle:checked + .slider:before {
    transform: translateX(22px);
  }

  .input-toggle:not(:checked) + .slider {
    color: transparent;      
  }

  .switch-wrapper {
    display: flex; 
    flex-direction: column;  
    align-items: center;     
    width: 100%;             
}

.label-toggle-pair {
    display: flex;           
    justify-content: space-between;  
    align-items: center;     
    width: 100%;             
    margin-bottom: 10px;     
}

   
  @media (min-width: 768px) {
  
    
    .switch-wrapper {
      align-items: flex-start; 
      padding-left: 20px;      
      width: 60%;
  }

  .label-toggle-pair {
      display: flex;              
      justify-content: space-between; 
      align-items: center;        
      gap: 2px;                
  }
  
   
  }

  @media (min-width: 1024px) {
  
    
    .switch-wrapper {
      align-items: flex-start; 
      padding-left: 20px;      
      width: 60%;
  }

  .label-toggle-pair {
      display: flex;              
      justify-content: space-between; 
      align-items: center;        
      gap: 2px;                
  }
  
   
  }
  
  
  
  
  
    
  
  